h1 {
    color: #00308F;
}
h2 {
    color: blue;
}
h3 {
    color: #007FFF;
}
body {
    color: #00BFFF;
}
.box {
    height: 200px;
    width: 100px;
    padding: 20px;
    margin: 5px;
    border: 10px solid #00BFFF;
    background-color: white;
}